# EDNOVA Live Supabase Production Environment Example
NEXT_PUBLIC_SUPABASE_URL=https://wvvfremfijuuzurbyyyl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2dmZyZW1maWp1dXp1cmJ5eXlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0NDQ0MzIsImV4cCI6MjA3MDAyMDQzMn0.l_OlNRtoOvAto95osGHR4AgzFO8uy0dDc_rqxaZlSGY
